<html>

<head>
<link rel="stylesheet" type="text/css" href="/resources/profilepage.css">
</head>
<body>
<div class="container">
  <form id="contact" action="" method="post">
    <h3>Edit Your Profile</h3>
    <fieldset>
      <input placeholder="Your Name" name="name" type="text" tabindex="1" optional autofocus>
    </fieldset>
    <fieldset>
      <fieldset>
        <input placeholder="Your Age (optional)" name = "age" type="text" tabindex="3" optional>
      </fieldset>
      <input placeholder="Your Location (optional)" name = "location" type="text" tabindex="4" optional>
    </fieldset>
    <fieldset class="center">
      <input placeholder="Profile Picture (optional, but URL is required)" name="picture" type="url" tabindex="5" optional>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>



  </form>
</div>
</body>
</html>
